node_modules
npm-debug.log
Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
.env
README.md
LICENSE
.vscode

# appsettings should be environment-specific, they can be mounted at runtime
*/appsettings.json

