<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Code Analysis Rule Set" Description="Rule set for disabling unwanted code analysis errors" ToolsVersion="16.0">
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp" RuleNamespace="Microsoft.CodeAnalysis.CSharp">
    <Rule Id="CS1591" Action="None" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA0001" Action="None" />
    <Rule Id="SA1600" Action="None" />
    <Rule Id="SA1604" Action="None" />
    <Rule Id="SA1623" Action="None" />
    <Rule Id="SA1633" Action="None" />
  </Rules>
</RuleSet>
