$md-primary: (
    50 : #eaf3e6,
    100 : #cbe2c1,
    200 : #a8cf97,
    300 : #85bb6d,
    400 : #6aad4e,
    500 : #509e2f,
    600 : #49962a,
    700 : #408c23,
    800 : #37821d,
    900 : #277012,
    A100 : #b7ffa6,
    A200 : #8eff73,
    A400 : #64ff40,
    A700 : #50ff26,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-secondary: (
    50 : #e0ecf0,
    100 : #b3cfda,
    200 : #80afc1,
    300 : #4d8fa8,
    400 : #267796,
    500 : #005f83,
    600 : #00577b,
    700 : #004d70,
    800 : #004366,
    900 : #003253,
    A100 : #85c5ff,
    A200 : #52adff,
    A400 : #1f94ff,
    A700 : #0688ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-warn: (
    50 : #fffbe5,
    100 : #fef4bd,
    200 : #feed92,
    300 : #fee566,
    400 : #fde045,
    500 : #fdda24,
    600 : #fdd620,
    700 : #fcd01b,
    800 : #fccb16,
    900 : #fcc20d,
    A100 : #ffffff,
    A200 : #fffcf3,
    A400 : #ffeec0,
    A700 : #ffe8a7,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
$text-color: #003B49;
$gray: #333132;